@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");

@font-face {
    font-family: didot-italic;
    src: url("../fonts/DidotLTStd-Italic.otf");
}

@font-face {
    font-family: didot-regular;
    src: url("../fonts/Didot\ Regular.ttf");
}

body {
    margin: 0;
    font-family: didot-regular, sans-serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

/*
    BUTTONS 
*/

.btn {
    border: none;
    cursor: pointer;
    transform: 0.3s ease;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
}
.btn-black {
    background: black;
    color: white;
    padding: 8px 56px;
    border: 2px solid black;
    font-size: 1.1rem;
}
.btn-black:hover {
    background: transparent;
    color: black;
}
.btn-yellow {
    background-color: #f9d982;
    padding: 17px 20px;
    font-weight: 600;
    color: black;
}
