.home-cta-section {
    display: flex;
}
.col-50 {
    flex: 1;
    display: flex;
}
.col-25 {
    flex: 1;
    display: flex;
}
.home-cta__btn,
.home-cta__btn:hover {
    width: 100%;
    color: white;
    text-decoration: none;
    transition: opacity 0.5s ease;
    padding: 0 3rem;
}
.home-cta__btn--one {
    background-color: #706c60;
}
.home-cta__btn--two {
    background-color: #baa798;
}
.home-cta__btn--three {
    background-color: #b9afa7;
}
.home-cta__btn--one:hover,
.home-cta__btn--two:hover,
.home-cta__btn--three:hover {
    opacity: 0.7;
}
/*  TEXT STYLING    */
.home-cta__title {
    font-size: 1.8rem;
    margin: 2.5rem 0 0 0;
    display: block;
}
.home-cta__subtitle {
    margin: 0 0 2.5rem 0;
    font-size: 0.9rem;
    font-weight: 100;
    display: block;
}
.cta-arrow {
    display: inline-block;
    margin-left: 0.5rem;
    transform: scale(0.9);
}

@media (max-width: 768px) {
    .home-cta__btn {
        padding: 0 2rem;
    }
    .home-cta__title {
        font-size: 1.25rem;
    }
}

@media (max-width: 576px) {
    .home-cta-section {
        flex-direction: column;
    }
    .home-cta__btn {
        padding: 0 1rem;
    }
    .home-cta__title {
        font-size: 1rem;
        margin-top: 1.5rem;
    }
    .home-cta__subtitle {
        margin-bottom: 1.5rem;
        font-weight: 300;
    }
}
